# This is Git's per-user configuration file.
[user]
	name = David Kristoffersen
	email = david.alta2010@gmail.com
[push]
	default = matching
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgs = "!f() { num=10; if [ ! -z $1 ]; then num=$1; fi; git lg | head -n $num; }; f"
	pushm = push origin master
	pullm = pull origin master
	st = status
	credz = config credential.helper store
	df = diff --word-diff
	submodulepull = "!f() { git submodule foreach \"(git checkout master; git pull)\"; }; f"
[core]
	editor = vim
[credential]
	helper = store --file ~/.git-credentials
[merge "ignore"]
	driver = true
[color]
	ui = auto
