[submodule "home/.vim/plugged/fzf"]
	path = home/.vim/plugged/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "home/.vim/plugged/fzf.vim"]
	path = home/.vim/plugged/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "home/.vim/pack/general/opt/git-blame.vim"]
	path = home/.vim/pack/general/opt/git-blame.vim
	url = https://github.com/zivyangll/git-blame.vim.git
[submodule "home/.vim/pack/general/opt/i3config.vim"]
	path = home/.vim/pack/general/opt/i3config.vim
	url = https://github.com/davidkristoffersen/i3config.vim.git
[submodule "home/.vim/pack/general/opt/nerdtree"]
	path = home/.vim/pack/general/opt/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/pack/general/opt/nerdtree-git-plugin"]
	path = home/.vim/pack/general/opt/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "home/.vim/pack/general/opt/omnisharp-vim"]
	path = home/.vim/pack/general/opt/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim.git
[submodule "home/.vim/pack/general/opt/syntastic"]
	path = home/.vim/pack/general/opt/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "home/.vim/pack/general/opt/tagbar"]
	path = home/.vim/pack/general/opt/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "home/.vim/pack/general/opt/vim-SyntaxRange"]
	path = home/.vim/pack/general/opt/vim-SyntaxRange
	url = https://github.com/inkarkat/vim-SyntaxRange.git
[submodule "home/.vim/pack/general/opt/vim-airline"]
	path = home/.vim/pack/general/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "home/.vim/pack/general/opt/vim-airline-themes"]
	path = home/.vim/pack/general/opt/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "home/.vim/pack/general/opt/vim-commenter"]
	path = home/.vim/pack/general/opt/vim-commenter
	url = https://github.com/davidkristoffersen/vim-commenter.git
[submodule "home/.vim/pack/general/opt/vim-fugitive"]
	path = home/.vim/pack/general/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/pack/general/opt/vim-indent-guides"]
	path = home/.vim/pack/general/opt/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "home/.vim/pack/general/opt/vim-ingo-library"]
	path = home/.vim/pack/general/opt/vim-ingo-library
	url = https://github.com/inkarkat/vim-ingo-library.git
[submodule "home/.vim/pack/general/opt/vim-javascript"]
	path = home/.vim/pack/general/opt/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "home/.vim/pack/general/opt/vim-jsx"]
	path = home/.vim/pack/general/opt/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "home/.vim/pack/general/opt/vim-nerdtree-tabs"]
	path = home/.vim/pack/general/opt/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "home/.vim/pack/general/opt/vim-trailing-whitespace"]
	path = home/.vim/pack/general/opt/vim-trailing-whitespace
	url = https://github.com/davidkristoffersen/vim-trailing-whitespace.git
[submodule "home/.vim/pack/general/opt/vimpager"]
	path = home/.vim/pack/general/opt/vimpager
	url = https://github.com/rkitover/vimpager.git
[submodule "home/.vim/pack/general/opt/ale"]
	path = home/.vim/pack/general/opt/ale
	url = https://github.com/w0rp/ale.git
