ANSI.color0: #000000
ANSI.color1: #c71e00
ANSI.color2: #00c203
ANSI.color3: #c6c500
ANSI.color4: #6775b8
ANSI.color5: #ca31c6
ANSI.color6: #07afc8
ANSI.color7: #c7c7c7
ANSI.color8: #686868
ANSI.color9: #ff6e6a
ANSI.color10: #60fa68
ANSI.color11: #fefb68
ANSI.color12: #b3b5fe
ANSI.color13: #ff78ff
ANSI.color14: #5dd7da
ANSI.color15: #ffffff
