#
# VARIABLES
#

set $m Mod4
set $s Shift
set $e exec --no-startup-id
set $b bindsym

#
# FONTS
#

# Window title font
font pango:monospace 8

#
# NETWORK
#

# Desktop env independentn system tray gui
$e nm-applet

#
# AUDIO
#

# Use pactl to adjust volume in PulseAudio.
set $refresh_i3status killall -SIGUSR1 i3status

$b XF86AudioRaiseVolume $e pactl set-sink-volume @DEFAULT_SINK@ +10% && $refresh_i3status
$b XF86AudioLowerVolume $e pactl set-sink-volume @DEFAULT_SINK@ -10% && $refresh_i3status
$b XF86AudioMute $e pactl set-sink-mute @DEFAULT_SINK@ toggle && $refresh_i3status
$b XF86AudioMicMute $e pactl set-source-mute @DEFAULT_SOURCE@ toggle && $refresh_i3status

#
# SCREENS
#

# Output
$e autorandr -l home

# Lock
$b $m+$s+o $e xlock

# Kill focused window
$b $m+$s+q kill

# Background
$e nitrogen --restore

# Swap active workspaces
$b $m+$s+s $e i3_swap_workspaces.py

#
# APP LAUNCHER
#

# Rofi
$b $m+d exec rofi -show run

#
# APPLICATIONS
#

# Terminal
$b $m+Return exec terminator

# Browser
$b $m+b exec chromium

# Language swap
$b $m+space $e toggle_xkbmap.sh

#
# NAVIGATION
#

# Change focus
# Tiling / floating
$b $m+Shift+t focus mode_toggle
# Parent container
$b $m+p focus parent
# Child container
$b $m+c focus child

# Vim style
$b $m+h focus left
$b $m+j focus down
$b $m+k focus up
$b $m+l focus right
# Arrow style
$b $m+Left focus left
$b $m+Down focus down
$b $m+Up focus up
$b $m+Right focus right

# Move
# Vim style
$b $m+$s+h move left
$b $m+$s+j move down
$b $m+$s+k move up
$b $m+$s+l move right
# Arrow style
$b $m+$s+Left move left
$b $m+$s+Down move down
$b $m+$s+Up move up
$b $m+$s+Right move right

# Mouse
# Drag floating style
floating_modifier $m
# Focus
focus_follows_mouse no
# Warping
mouse_warping output

# Split
# Horizontally
$b $m+bar split h
# Vertically
$b $m+minus split v

# Fullscreen focused container
$b $m+f fullscreen toggle

# Layout
$b $m+s layout stacking
$b $m+t layout tabbed
$b $m+e layout toggle split
$b $m+$s+space floating toggle

# Scratchpad / hide
# Make the currently focused window a scratchpad
bindsym $m+$s+minus move scratchpad

# Show the first scratchpad window
bindsym $m+$s+plus scratchpad show

#
# WORKSPACES
#

# Names
set $ws0 "0"
set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"

# Switch to workspace
set $wsn workspace number
$b $m+0 $wsn $ws0
$b $m+1 $wsn $ws1
$b $m+2 $wsn $ws2
$b $m+3 $wsn $ws3
$b $m+4 $wsn $ws4
$b $m+5 $wsn $ws5
$b $m+6 $wsn $ws6
$b $m+7 $wsn $ws7
$b $m+8 $wsn $ws8
$b $m+9 $wsn $ws9

# Move focused container to workspace
set $mctwsn move container to workspace number
$b $m+$s+0 $mctwsn $ws0
$b $m+$s+1 $mctwsn $ws1
$b $m+$s+2 $mctwsn $ws2
$b $m+$s+3 $mctwsn $ws3
$b $m+$s+4 $mctwsn $ws4
$b $m+$s+5 $mctwsn $ws5
$b $m+$s+6 $mctwsn $ws6
$b $m+$s+7 $mctwsn $ws7
$b $m+$s+8 $mctwsn $ws8
$b $m+$s+9 $mctwsn $ws9

#
# APPEARANCE
#

# Gaps size
gaps inner 20
gaps outer 0

default_border pixel 2

# class                 border  backgr. text    indicator child_border
client.focused       	#aaaaaa #aaaaaa #000000 #aaaaaa   #aaaaaa
client.focused_inactive #555555 #555555 #ffffff #555555   #555555
client.unfocused      	#000000 #000000 #888888 #000000   #000000
client.urgent           #2f343a #900000 #ffffff #900000   #900000
client.placeholder      #000000 #0c0c0c #ffffff #000000   #0c0c0c

client.background       #ffffff

# App specific
# for_window [class="^Chromium$" title=" - Chromium$"] border 1

#
# CONFIG
#

# Reload config
$b $m+$s+c reload

# Restart i3
$b $m+$s+r restart

# Exit i3
$b $m+$s+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -B 'Yes, exit i3' 'i3-msg exit'"

#
# MODES
#

# Resize windows
mode "resize" {
		# Vim style
		$b h resize grow left 10 px or 10 ppt; resize shrink right 10 px or 10 ppt
		$b j resize grow down 10 px or 10 ppt; resize shrink up 10 px or 10 ppt
		$b k resize grow up 10 px or 10 ppt; resize shrink down 10 px or 10 ppt
		$b l resize grow right 10 px or 10 ppt; resize shrink left 10 px or 10 ppt

		# Arrow style
		$b Left resize grow left 10 px or 10 ppt; resize shrink right 10 px or 10 ppt
		$b Down resize grow down 10 px or 10 ppt; resize shrink up 10 px or 10 ppt
		$b Up resize grow up 10 px or 10 ppt; resize shrink down 10 px or 10 ppt
		$b Right resize grow right 10 px or 10 ppt; resize shrink left 10 px or 10 ppt

		# Exit mode
		$b Return mode "default"
		$b Escape mode "default"
		$b $m+r mode "default"
}
$b $m+r mode "resize"

#
# STATUS BAR
#

# i3bar
bar {
	status_command i3status
}

#
# AUTOSTRAT APPLICATIONS
#

# exec chromium
