#
# VARIABLES
#

# Super
set $m Mod4
set $s Shift
# Alt
set $a Mod1
set $e exec --no-startup-id
set $b bindsym

#
# FONTS
#

# Window title font
font pango:monospace 8

#
# NETWORK
#

# Desktop env independentn system tray gui
$e nm-applet

#
# AUDIO
#

# Use pactl to adjust volume in PulseAudio.
set $refresh_i3status killall -SIGUSR1 i3status

$b XF86AudioRaiseVolume $e pactl set-sink-volume @DEFAULT_SINK@ +10% && $refresh_i3status
$b XF86AudioLowerVolume $e pactl set-sink-volume @DEFAULT_SINK@ -10% && $refresh_i3status
$b XF86AudioMute $e pactl set-sink-mute @DEFAULT_SINK@ toggle && $refresh_i3status
$b XF86AudioMicMute $e pactl set-source-mute @DEFAULT_SOURCE@ toggle && $refresh_i3status

#
# SCREENS
#

# Output
$e autorandr_helper.sh
$b $m+$s+m $e autorandr_helper.sh

# Lock
$b $m+$s+o $e xlock

# Kill focused window
$b $m+$s+q kill

# Background
$e nitrogen --restore

# Swap active workspaces
$b $m+$s+s $e i3_swap_workspaces.py

#
# APP LAUNCHER
#

# Rofi
$b $m+d exec rofi -show run

#
# APPLICATIONS
#

# Terminal
$b $m+Return exec terminator

# Browser
$b $m+b exec chromium

# Language swap
$b $m+space $e toggle_xkbmap.sh

#
# NAVIGATION
#

# Change focus
# Tiling / floating
$b $m+Shift+t focus mode_toggle
# Parent container
$b $m+p focus parent
# Child container
$b $m+c focus child

# Vim style
$b $m+h	focus left
$b $m+j focus down
$b $m+k focus up
$b $m+l focus right
# Arrow style
$b $m+Left	focus left
$b $m+Down	focus down
$b $m+Up	focus up
$b $m+Right	focus right

# Move container
# Vim style
$b $m+$s+h	move left
$b $m+$s+j 	move down
$b $m+$s+k 	move up
$b $m+$s+l 	move right
# Arrow style
$b $m+$s+Left	move left
$b $m+$s+Down	move down
$b $m+$s+Up		move up
$b $m+$s+Right	move right

# Move workspace
# Vim style
$b $m+$a+h	move workspace to output left
$b $m+$a+j	move workspace to output down
$b $m+$a+k	move workspace to output up
$b $m+$a+l	move workspace to output right
# Arrow style
$b $m+$a+Left	move workspace to output left
$b $m+$a+Down	move workspace to output down
$b $m+$a+Up		move workspace to output up
$b $m+$a+Right	move workspace to output right

# Mouse
# Drag floating style
floating_modifier $m
# Focus
focus_follows_mouse no
# Warping
mouse_warping output

# Split
# Horizontally
$b $m+bar split h
# Vertically
$b $m+minus split v

# Fullscreen focused container
$b $m+f fullscreen toggle

# Layout
$b $m+s layout stacking
$b $m+t layout tabbed
$b $m+e layout toggle split
$b $m+$s+space floating toggle

# Scratchpad / hide
# Make the currently focused window a scratchpad
bindsym $m+$s+minus move scratchpad

# Show the first scratchpad window
bindsym $m+$s+plus scratchpad show

#
# WORKSPACES
#

# Switch to workspace
$b $m+0 workspaces number 0
$b $m+1 workspaces number 1
$b $m+2 workspaces number 2
$b $m+3 workspaces number 3
$b $m+4 workspaces number 4
$b $m+5 workspaces number 5
$b $m+6 workspaces number 6
$b $m+7 workspaces number 7
$b $m+8 workspaces number 8
$b $m+9 workspaces number 9

# Move focused container to workspace
$b $m+$s+0 move container to workspace number 0
$b $m+$s+1 move container to workspace number 1
$b $m+$s+2 move container to workspace number 2
$b $m+$s+3 move container to workspace number 3
$b $m+$s+4 move container to workspace number 4
$b $m+$s+5 move container to workspace number 5
$b $m+$s+6 move container to workspace number 6
$b $m+$s+7 move container to workspace number 7
$b $m+$s+8 move container to workspace number 8
$b $m+$s+9 move container to workspace number 9

# Rename focused workspace
$b $m+$a+0 rename workspace to 0
$b $m+$a+1 rename workspace to 1
$b $m+$a+2 rename workspace to 2
$b $m+$a+3 rename workspace to 3
$b $m+$a+4 rename workspace to 4
$b $m+$a+5 rename workspace to 5
$b $m+$a+6 rename workspace to 6
$b $m+$a+7 rename workspace to 7
$b $m+$a+8 rename workspace to 8
$b $m+$a+9 rename workspace to 9

#
# APPEARANCE
#

# Gaps size
gaps inner 20
gaps outer 0

default_border pixel 2

# class                 border  backgr. text    indicator child_border
client.focused       	#aaaaaa #aaaaaa #000000 #aaaaaa   #aaaaaa
client.focused_inactive #555555 #555555 #ffffff #555555   #555555
client.unfocused      	#000000 #000000 #888888 #000000   #000000
client.urgent           #2f343a #900000 #ffffff #900000   #900000
client.placeholder      #000000 #0c0c0c #ffffff #000000   #0c0c0c

client.background       #ffffff

# App specific
# for_window [class="^Chromium$" title=" - Chromium$"] border 1

#
# CONFIG
#

# Reload config
$b $m+$s+c reload

# Restart i3
$b $m+$s+r restart

# Exit i3
$b $m+$s+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -B 'Yes, exit i3' 'i3-msg exit'"

#
# MODES
#

# Resize windows
mode "resize" {
		# Vim style
		$b h resize grow left 10 px or 10 ppt; resize shrink right 10 px or 10 ppt
		$b j resize grow down 10 px or 10 ppt; resize shrink up 10 px or 10 ppt
		$b k resize grow up 10 px or 10 ppt; resize shrink down 10 px or 10 ppt
		$b l resize grow right 10 px or 10 ppt; resize shrink left 10 px or 10 ppt

		# Arrow style
		$b Left resize grow left 10 px or 10 ppt; resize shrink right 10 px or 10 ppt
		$b Down resize grow down 10 px or 10 ppt; resize shrink up 10 px or 10 ppt
		$b Up resize grow up 10 px or 10 ppt; resize shrink down 10 px or 10 ppt
		$b Right resize grow right 10 px or 10 ppt; resize shrink left 10 px or 10 ppt

		# Exit mode
		$b Return mode "default"
		$b Escape mode "default"
		$b $m+r mode "default"
}
$b $m+r mode "resize"

#
# STATUS BAR
#

# i3bar
bar {
	status_command i3status
}

#
# AUTOSTART APPLICATIONS
#

# exec chromium
