#
# PLASMA COMPATIBILITY
#

# Plasma compatibility improvements
for_window [window_role="pop-up"]      floating enable
for_window [window_role="task_dialog"] floating enable

for_window [class="yakuake"]         floating enable
for_window [class="systemsettings"]  floating enable
for_window [class="plasmashell"]     floating enable
for_window [class="Plasma"]          floating enable; border none
for_window [title="plasma-desktop"]  floating enable; border none
for_window [title="win7"]            floating enable; border none
for_window [class="krunner"]         floating enable; border none
for_window [class="Kmix"]            floating enable; border none
for_window [class="Klipper"]         floating enable; border none
for_window [class="Plasmoidviewer"]  floating enable; border none
for_window [class="(?i)*nextcloud*"] floating disable
for_window [class="plasmashell" window_type="notification"] border none, move position 70 ppt 81 ppt
no_focus [class="plasmashell" window_type="notification"]

# Kill Desktop window that covers everything
for_window [title="Desktop — Plasma"] kill; floating enable; border none

# Using plasma's logout screen instead of i3's
# Works only if the below usage of i3 nagbar is commented out 
bindsym Mod4+Shift+e exec --no-startup-id id qdbus-qt5 org.kde.ksmserver /KSMServer org.kde.KSMServerInterface.logout -1 -1 -1

# Audio integration
# Works only if the below usage pactl is commented out
bindsym XF86AudioRaiseVolume exec --no-startup-id qdbus org.kde.kglobalaccel /component/kmix invokeShortcut "increase_volume"
bindsym XF86AudioLowerVolume exec --no-startup-id qdbus org.kde.kglobalaccel /component/kmix invokeShortcut "decrease_volume"
bindsym XF86AudioMute exec --no-startup-id qdbus org.kde.kglobalaccel /component/kmix invokeShortcut "mute"
bindsym XF86AudioMicMute exec --no-startup-id qdbus org.kde.kglobalaccel /component/kmix invokeShortcut "mic_mute"

# Background, comment out nitrogen
exec --no-startup-id feh --bg-scale $HOME/.local/share/backgrounds/manjaro.jpg

#
# VARIABLES
#

# Mod1: Alt
# Mod4: Super

#
# FONTS
#

# Window title font
font pango:monospace 8

#
# NETWORK
#

# Desktop env independentn system tray gui
exec --no-startup-id nm-applet

#
# AUDIO
#

# Use pactl to adjust volume in PulseAudio.
set $refresh_i3status killall -SIGUSR1 i3status

# bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +10% && $refresh_i3status
# bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -10% && $refresh_i3status
# bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute @DEFAULT_SINK@ toggle && $refresh_i3status
# bindsym XF86AudioMicMute exec --no-startup-id pactl set-source-mute @DEFAULT_SOURCE@ toggle && $refresh_i3status

#
# SCREENS
#

# Output
exec --no-startup-id autorandr_helper.sh
bindsym Mod4+Shift+m exec --no-startup-id autorandr_helper.sh

# Lock
bindsym Mod4+Shift+o exec xlock
# bindsym Mod4+Shift+o exec chromium

# Kill focused window
bindsym Mod4+Shift+q kill

# Background
# exec --no-startup-id nitrogen --restore

# Swap active workspaces
bindsym Mod4+Shift+s exec --no-startup-id i3_swap_workspaces.py

#
# APPLICATION LAUNCHER
#

# Rofi
bindsym Mod4+d exec rofi -show drun

#
# NOTIFICATIONS
#

# Kill xfce notification daemon
exec --no-startup-id killall -q xfce4-notifyd
# Start dunst notification daemon
exec --no-startup-id dunst -config $HOME/.config/dunst/dunstrc

#
# APPLICATIONS
#

# Terminal
bindsym Mod4+Return exec terminator
# bindsym Mod4+Return exec alacritty

# Browser
bindsym Mod4+b exec chromium

# Language swap
bindsym Mod4+space exec --no-startup-id toggle_xkbmap.sh

#
# NAVIGATION
#

# Change focus
# Tiling / floating
bindsym Mod4+Shift+t focus mode_toggle
# Parent container
bindsym Mod4+p focus parent
# Child container
bindsym Mod4+c focus child

# Vim style
bindsym Mod4+h focus left 
bindsym Mod4+j focus down 
bindsym Mod4+k focus up   
bindsym Mod4+l focus right
# Arrow style
bindsym Mod4+Left  focus left 
bindsym Mod4+Down  focus down 
bindsym Mod4+Up    focus up   
bindsym Mod4+Right focus right

# Move container
# Vim style
bindsym Mod4+Shift+h move left 
bindsym Mod4+Shift+j move down 
bindsym Mod4+Shift+k move up   
bindsym Mod4+Shift+l move right
# Arrow style
bindsym Mod4+Shift+Left  move left 
bindsym Mod4+Shift+Down  move down 
bindsym Mod4+Shift+Up    move up   
bindsym Mod4+Shift+Right move right

# Move workspace
# Vim style
bindsym Mod4+Mod1+h move workspace to output left 
bindsym Mod4+Mod1+j move workspace to output down 
bindsym Mod4+Mod1+k move workspace to output up   
bindsym Mod4+Mod1+l move workspace to output right
# Arrow style
bindsym Mod4+Mod1+Left  move workspace to output left 
bindsym Mod4+Mod1+Down  move workspace to output down 
bindsym Mod4+Mod1+Up    move workspace to output up   
bindsym Mod4+Mod1+Right move workspace to output right

# Mouse
# Drag floating style
floating_modifier Mod4
# Focus
focus_follows_mouse no
# Warping
mouse_warping output

# Split
# Horizontally
bindsym Mod4+bar split h
# Vertically
bindsym Mod4+minus split v

# Fullscreen focused container
bindsym Mod4+f fullscreen toggle

# Layout
bindsym Mod4+s layout stacking
bindsym Mod4+t layout tabbed
bindsym Mod4+e layout toggle split
bindsym Mod4+Shift+space floating toggle

# Scratchpad / hide
# Make the currently focused window a scratchpad
bindsym Mod4+Shift+minus move scratchpad

# Show the first scratchpad window
bindsym Mod4+Shift+plus scratchpad show

#
# WORKSPACES
#

# Switch to workspace
bindsym Mod4+0 workspace number 0
bindsym Mod4+1 workspace number 1
bindsym Mod4+2 workspace number 2
bindsym Mod4+3 workspace number 3
bindsym Mod4+4 workspace number 4
bindsym Mod4+5 workspace number 5
bindsym Mod4+6 workspace number 6
bindsym Mod4+7 workspace number 7
bindsym Mod4+8 workspace number 8
bindsym Mod4+9 workspace number 9

# Move focused container to workspace
bindsym Mod4+Shift+0 move container to workspace number 0
bindsym Mod4+Shift+1 move container to workspace number 1
bindsym Mod4+Shift+2 move container to workspace number 2
bindsym Mod4+Shift+3 move container to workspace number 3
bindsym Mod4+Shift+4 move container to workspace number 4
bindsym Mod4+Shift+5 move container to workspace number 5
bindsym Mod4+Shift+6 move container to workspace number 6
bindsym Mod4+Shift+7 move container to workspace number 7
bindsym Mod4+Shift+8 move container to workspace number 8
bindsym Mod4+Shift+9 move container to workspace number 9

# Rename focused workspace
bindsym Mod4+Mod1+0 rename workspace to 0
bindsym Mod4+Mod1+1 rename workspace to 1
bindsym Mod4+Mod1+2 rename workspace to 2
bindsym Mod4+Mod1+3 rename workspace to 3
bindsym Mod4+Mod1+4 rename workspace to 4
bindsym Mod4+Mod1+5 rename workspace to 5
bindsym Mod4+Mod1+6 rename workspace to 6
bindsym Mod4+Mod1+7 rename workspace to 7
bindsym Mod4+Mod1+8 rename workspace to 8
bindsym Mod4+Mod1+9 rename workspace to 9

# Focus directional workspace
# Vim style
bindsym Mod4+Control+h focus parent;focus parent;focus parent;focus left;  focus child;focus child;focus child;focus child
bindsym Mod4+Control+j focus parent;focus parent;focus parent;focus down;  focus child;focus child;focus child;focus child
bindsym Mod4+Control+k focus parent;focus parent;focus parent;focus up;    focus child;focus child;focus child;focus child
bindsym Mod4+Control+l focus parent;focus parent;focus parent;focus right; focus child;focus child;focus child;focus child
# Arrow style
bindsym Mod4+Control+Left  focus parent;focus parent;focus parent;focus left;  focus child;focus child;focus child;focus child
bindsym Mod4+Control+Down  focus parent;focus parent;focus parent;focus down;  focus child;focus child;focus child;focus child
bindsym Mod4+Control+Up    focus parent;focus parent;focus parent;focus up;    focus child;focus child;focus child;focus child
bindsym Mod4+Control+Right focus parent;focus parent;focus parent;focus right; focus child;focus child;focus child;focus child

# swap directional workspace
# Vim style
bindsym Mod4+Control+Shift+h; exec --no-startup-id i3_swap_workspaces.py left 
bindsym Mod4+Control+Shift+j; exec --no-startup-id i3_swap_workspaces.py down 
bindsym Mod4+Control+Shift+k; exec --no-startup-id i3_swap_workspaces.py up   
bindsym Mod4+Control+Shift+l; exec --no-startup-id i3_swap_workspaces.py right
# Arrow style
bindsym Mod4+Control+Shift+Left;  exec --no-startup-id i3_swap_workspaces.py left 
bindsym Mod4+Control+Shift+Down;  exec --no-startup-id i3_swap_workspaces.py down 
bindsym Mod4+Control+Shift+Up;    exec --no-startup-id i3_swap_workspaces.py up   
bindsym Mod4+Control+Shift+Right; exec --no-startup-id i3_swap_workspaces.py right

# Focus next/prev workspace on current monitor
bindsym Mod4+Control+n workspace next_on_output
bindsym Mod4+Control+p workspace prev_on_output
bindsym Mod4+Control+Tab workspace next_on_output
bindsym Mod4+Control+Shift+Tab workspace prev_on_output

# Focus next/prev workspace on all monitors
bindsym Mod4+Control+Mod1+n workspace next
bindsym Mod4+Control+Mod1+p workspace prev
bindsym Mod4+Control+Mod1+Tab workspace next_on_output
bindsym Mod4+Control+Mod1+Shift+Tab workspace prev_on_output

#
# APPEARANCE
#

# Gaps size
gaps inner 20
gaps outer 0

default_border pixel 2

# class                 border  backgr. text    indicator child_border
client.focused          #aaaaaa #aaaaaa #000000 #aaaaaa   #aaaaaa
client.focused_inactive #555555 #555555 #ffffff #555555   #555555
client.unfocused        #000000 #000000 #888888 #000000   #000000
client.urgent           #2f343a #900000 #ffffff #900000   #900000
client.placeholder      #000000 #0c0c0c #ffffff #000000   #0c0c0c

client.background       #ffffff

# App specific
# for_window [class="^Chromium$" title=" - Chromium$"] border 1

#
# CONFIG
#

# Reload config
bindsym Mod4+Shift+c reload

# Restart i3
bindsym Mod4+Shift+r restart

# Exit i3
# bindsym Mod4+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -B 'Yes, exit i3' 'i3-msg exit'" 

#
# MODES
#

# Resize windows
mode "resize" {
	# Vim style
	bindsym h resize grow left  10 px or 10 ppt; resize shrink right 10 px or 10 ppt
	bindsym j resize grow down  10 px or 10 ppt; resize shrink up    10 px or 10 ppt
	bindsym k resize grow up    10 px or 10 ppt; resize shrink down  10 px or 10 ppt
	bindsym l resize grow right 10 px or 10 ppt; resize shrink left  10 px or 10 ppt

	# Arrow style
	bindsym Left  resize grow left  10 px or 10 ppt; resize shrink right 10 px or 10 ppt
	bindsym Down  resize grow down  10 px or 10 ppt; resize shrink up    10 px or 10 ppt
	bindsym Up    resize grow up    10 px or 10 ppt; resize shrink down  10 px or 10 ppt
	bindsym Right resize grow right 10 px or 10 ppt; resize shrink left  10 px or 10 ppt

	# Exit mode
	bindsym Return mode "default"
	bindsym Escape mode "default"
	bindsym Mod4+r mode "default"
}
bindsym Mod4+r mode "resize"

#
# STATUS BAR
#

# i3bar
bar {
	status_command i3status
}

#
# AUTOSTART APPLICATIONS
#

# exec chromium

