#
# VARIABLES
#

# Mod1: Alt
# Mod4: Super

#
# FONTS
#

# Window title font
font pango:monospace 8

#
# NETWORK
#

# Desktop env independentn system tray gui
exec --no-startup-id nm-applet

#
# AUDIO
#

# Use pactl to adjust volume in PulseAudio.
set $refresh_i3status killall -SIGUSR1 i3status

bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +10% && $refresh_i3status
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -10% && $refresh_i3status
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute @DEFAULT_SINK@ toggle && $refresh_i3status
bindsym XF86AudioMicMute exec --no-startup-id pactl set-source-mute @DEFAULT_SOURCE@ toggle && $refresh_i3status

#
# SCREENS
#

# Output
exec --no-startup-id autorandr_helper.sh
bindsym Mod4+Shift+m exec --no-startup-id autorandr_helper.sh

# Lock
bindsym Mod4+Shift+o exec --no-startup-id xlock

# Kill focused window
bindsym Mod4+Shift+q kill

# Background
exec --no-startup-id nitrogen --restore

# Swap active workspaces
bindsym Mod4+Shift+s exec --no-startup-id i3_swap_workspaces.py

#
# APP LAUNCHER
#

# Rofi
bindsym Mod4+d exec rofi -show drun

#
# NOTIFICATIONS
#

# Kill xfce notification daemon
exec --no-startup-id killall -q xfce4-notifyd
# Start dunst notification daemon
exec --no-startup-id dunst -config /home/david/dotfiles/dunst.cfg

#
# APPLICATIONS
#

# Terminal
bindsym Mod4+Return exec terminator

# Browser
bindsym Mod4+b exec chromium

# Language swap
bindsym Mod4+space exec --no-startup-id toggle_xkbmap.sh

#
# NAVIGATION
#

# Change focus
# Tiling / floating
bindsym Mod4+Shift+t focus mode_toggle
# Parent container
bindsym Mod4+p focus parent
# Child container
bindsym Mod4+c focus child

# Vim style
bindsym  Mod4+l  focus  right
bindsym  Mod4+k  focus  up
bindsym  Mod4+j  focus  down
bindsym  Mod4+h  focus  left
# Arrow style
bindsym  Mod4+Right  focus  right
bindsym  Mod4+Up     focus  up
bindsym  Mod4+Down   focus  down
bindsym  Mod4+Left   focus  left

# Move container
# Vim style
bindsym  Mod4+Shift+l  move  right
bindsym  Mod4+Shift+k  move  up
bindsym  Mod4+Shift+j  move  down
bindsym  Mod4+Shift+h  move  left
# Arrow style
bindsym  Mod4+Shift+Right  move  right
bindsym  Mod4+Shift+Up     move  up
bindsym  Mod4+Shift+Down   move  down
bindsym  Mod4+Shift+Left   move  left

# Move workspace
# Vim style
bindsym  Mod4+Mod1+l  move  workspace  to  output  right
bindsym  Mod4+Mod1+k  move  workspace  to  output  up
bindsym  Mod4+Mod1+j  move  workspace  to  output  down
bindsym  Mod4+Mod1+h  move  workspace  to  output  left
# Arrow style
bindsym  Mod4+Mod1+Right  move  workspace  to  output  right
bindsym  Mod4+Mod1+Up     move  workspace  to  output  up
bindsym  Mod4+Mod1+Down   move  workspace  to  output  down
bindsym  Mod4+Mod1+Left   move  workspace  to  output  left

# Mouse
# Drag floating style
floating_modifier Mod4
# Focus
focus_follows_mouse no
# Warping
mouse_warping output

# Split
# Horizontally
bindsym Mod4+bar split h
# Vertically
bindsym Mod4+minus split v

# Fullscreen focused container
bindsym Mod4+f fullscreen toggle

# Layout
bindsym Mod4+s layout stacking
bindsym Mod4+t layout tabbed
bindsym Mod4+e layout toggle split
bindsym Mod4+Shift+space floating toggle

# Scratchpad / hide
# Make the currently focused window a scratchpad
bindsym Mod4+Shift+minus move scratchpad

# Show the first scratchpad window
bindsym Mod4+Shift+plus scratchpad show

#
# WORKSPACES
#

# Switch to workspace
bindsym Mod4+0 workspace number 0
bindsym Mod4+1 workspace number 1
bindsym Mod4+2 workspace number 2
bindsym Mod4+3 workspace number 3
bindsym Mod4+4 workspace number 4
bindsym Mod4+5 workspace number 5
bindsym Mod4+6 workspace number 6
bindsym Mod4+7 workspace number 7
bindsym Mod4+8 workspace number 8
bindsym Mod4+9 workspace number 9

# Move focused container to workspace
bindsym Mod4+Shift+0 move container to workspace number 0
bindsym Mod4+Shift+1 move container to workspace number 1
bindsym Mod4+Shift+2 move container to workspace number 2
bindsym Mod4+Shift+3 move container to workspace number 3
bindsym Mod4+Shift+4 move container to workspace number 4
bindsym Mod4+Shift+5 move container to workspace number 5
bindsym Mod4+Shift+6 move container to workspace number 6
bindsym Mod4+Shift+7 move container to workspace number 7
bindsym Mod4+Shift+8 move container to workspace number 8
bindsym Mod4+Shift+9 move container to workspace number 9

# Rename focused workspace
bindsym Mod4+Mod1+0 rename workspace to 0
bindsym Mod4+Mod1+1 rename workspace to 1
bindsym Mod4+Mod1+2 rename workspace to 2
bindsym Mod4+Mod1+3 rename workspace to 3
bindsym Mod4+Mod1+4 rename workspace to 4
bindsym Mod4+Mod1+5 rename workspace to 5
bindsym Mod4+Mod1+6 rename workspace to 6
bindsym Mod4+Mod1+7 rename workspace to 7
bindsym Mod4+Mod1+8 rename workspace to 8
bindsym Mod4+Mod1+9 rename workspace to 9

# Focus directional workspace
# Vim style
bindsym  Mod4+Control+l  focus  parent;  focus  parent;  focus  parent;  focus  parent;  focus  right;  focus  child;  focus  child;  focus  child;  focus  child
bindsym  Mod4+Control+k  focus  parent;  focus  parent;  focus  parent;  focus  parent;  focus  up;     focus  child;  focus  child;  focus  child;  focus  child
bindsym  Mod4+Control+j  focus  parent;  focus  parent;  focus  parent;  focus  parent;  focus  down;   focus  child;  focus  child;  focus  child;  focus  child
bindsym  Mod4+Control+h  focus  parent;  focus  parent;  focus  parent;  focus  parent;  focus  left;   focus  child;  focus  child;  focus  child;  focus  child
# Arrow style
bindsym  Mod4+Control+Right  focus  parent;  focus  parent;  focus  parent;  focus  parent;  focus  right;  focus  child;  focus  child;  focus  child;  focus  child
bindsym  Mod4+Control+Up     focus  parent;  focus  parent;  focus  parent;  focus  parent;  focus  up;     focus  child;  focus  child;  focus  child;  focus  child
bindsym  Mod4+Control+Down   focus  parent;  focus  parent;  focus  parent;  focus  parent;  focus  down;   focus  child;  focus  child;  focus  child;  focus  child
bindsym  Mod4+Control+Left   focus  parent;  focus  parent;  focus  parent;  focus  parent;  focus  left;   focus  child;  focus  child;  focus  child;  focus  child

#
# APPEARANCE
#

# Gaps size
gaps inner 20
gaps outer 0

default_border pixel 2

# class                 border  backgr. text    indicator child_border
client.focused       	#aaaaaa #aaaaaa #000000 #aaaaaa   #aaaaaa
client.focused_inactive #555555 #555555 #ffffff #555555   #555555
client.unfocused      	#000000 #000000 #888888 #000000   #000000
client.urgent           #2f343a #900000 #ffffff #900000   #900000
client.placeholder      #000000 #0c0c0c #ffffff #000000   #0c0c0c

client.background       #ffffff

# App specific
# for_window [class="^Chromium$" title=" - Chromium$"] border 1

#
# CONFIG
#

# Reload config
bindsym Mod4+Shift+c reload

# Restart i3
bindsym Mod4+Shift+r restart

# Exit i3
bindsym Mod4+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -B 'Yes, exit i3' 'i3-msg exit'"

#
# MODES
#

# Resize windows
mode "resize" {
	# Vim style
	bindsym l resize grow right 10 px or 10 ppt; resize shrink left 10 px or 10 ppt
	bindsym k resize grow up 10 px or 10 ppt; resize shrink down 10 px or 10 ppt
	bindsym j resize grow down 10 px or 10 ppt; resize shrink up 10 px or 10 ppt
	bindsym h resize grow left 10 px or 10 ppt; resize shrink right 10 px or 10 ppt

	# Arrow style
	bindsym Right resize grow right 10 px or 10 ppt; resize shrink left 10 px or 10 ppt
	bindsym Up resize grow up 10 px or 10 ppt; resize shrink down 10 px or 10 ppt
	bindsym Down resize grow down 10 px or 10 ppt; resize shrink up 10 px or 10 ppt
	bindsym Left resize grow left 10 px or 10 ppt; resize shrink right 10 px or 10 ppt

	# Exit mode
	bindsym Return mode "default"
	bindsym Escape mode "default"
	bindsym Mod4+r mode "default"
}
bindsym Mod4+r mode "resize"

#
# STATUS BAR
#

# i3bar
bar {
	status_command i3status
}

#
# AUTOSTART APPLICATIONS
#

# exec chromium
