[Desktop Entry]
Type=Application
Version=1.0
Name=pcloud
Comment=pcloudstartup script
Exec=/home/david/software/applications/installers/pcloud
StartupNotify=false
Terminal=false
