[Install]
WantedBy=plasma-workspace.target

[Unit]
Description=Launch Plasma with awesome
Before=plasma-workspace.target

[Service]
ExecStart=/usr/bin/awesome
Restart=on-failure